* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
    background: rgb(212, 208, 208);
}
body{
    overflow-x: hidden;
}
/*Página de Login*/
.box-login {
    box-shadow: 10px 10px 5px rgb(200, 200, 200);
    max-width: 600px;
    width: 95%;
    padding: 60px 2%;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.box-login h2 {
    text-align: center;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 10px 0;
    color: black;
}

.box-login input[type=text],
.box-login input[type=password] {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 8px;
    margin-top: 8px;
}

.box-login input[type=submit] {
    width: 100px;
    height: 40px;
    cursor: pointer;
    margin-top: 16px;
    font-size: 14px;
    background-color: #1de9b6;
    color: white;
    border: 0;
}

/*Box erro do painel*/

.erro-box {
    width: 100%;
    padding: 8px 2%;
    text-align: center;
    background: #f75353;
    color: white;
    font-size: 15px;
}

/*Painel de Controle*/

.clear{clear: both;}

.center{padding: 0 2%;margin: 0 auto;}

header{
    position: relative;
    left: 300px;
    padding: 10px 0;
    background: #78909c;
    width: calc(100% - 300px);
}

.loggout a{
    padding: 0 20px;
    position: relative;
    color: white;
    font-size: 20px;
    float: right;
    text-decoration: none;
}

.loggout a{
    color: white;
    font-size: 20px;
}

.menu-btn{
    float: left;
    cursor: pointer;
    font-size: 23px;
    color: white;
}

/**MENU**/

.menu-wraper{width: 300px;}
div.menu{
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    padding: 10px 0;
    position: fixed;
    background: #455a64;
    left: 0;
    top: 0;
    width: 300px;
}

div.box-usuario{
    text-align: center;
}

.avatar-usuario{
    text-align: left;
    display: inline-block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #2f3d42;
}

.avatar-usuario i{
    position: relative;
    top:50%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    color: #2f3d42;
}

.imagem-usuario{
    display: inline-block;
    width: 130px;
    height: 130px;
    position: relative;
    border-radius: 50%;
    border: 3px solid #2f3d42; 
}

.imagem-usuario img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.nome-usuario{
    text-align: center;
    margin-top: 10px;
}

.nome-usuario p{
    color: white;
    font-size: 15px;
    font-weight: normal;
}
/*ITEMS MENU*/
.items-menu{
    margin-top: 30px;
}

.items-menu h2{
    text-align: left;
    font-weight: normal;
    font-size: 17px;
    background: #2f3d42;
    color: white;
    padding: 8px;
}

.items-menu a{
    display: block;
    padding: 8px;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid #2f3d42;
}

/**CONTEUDO PRINCIPAL DO PAINEL**/
.w100{
    width: 100%;
}
.w50{
    width: 49%;
}

.left{
    float: left;
}
.right{
    float: right;
}
.content{
    width: calc(100% - 300px);
    position: relative;
    left: 300px;
    padding: 10px;
}

.box-content{
    background: white;
    padding: 10px;
    margin-bottom: 25px;
}

.box-content h2{
    font-weight: 300;
    font-size: 22px;
}

/*Box Metricas*/

.box-metricas{
	margin-top:16px;
	padding:0 15px;
}

.box-metrica-single{
	float: left;
	position: relative;
	width: 33.3%;
	background: #F4B03E;
	border: 5px solid white;
}

.box-metricas .box-metrica-single:nth-of-type(2){
	background: #E05C4E;
}

.box-metricas .box-metrica-single:nth-of-type(3){
	background: #0091ea;
}

.box-metrica-wraper{
	padding: 10px 20px;
	text-align: left;
	color: white;
}

.box-metrica-wraper h2{
	font-size: 28px;
}

.box-metrica-wraper p{
	padding: 10px 0;
	font-size: 26px;
}

/*TABELA RESPONSIVO*/
.table-responsive{
    margin: 20px auto;
    font-weight: 300;
}

.table-responsive .row:nth-of-type(1){
    font-weight: normal;
    background: #00bfa5;
    padding: 10px;
    color: white;
    
}

.table-responsive .row{
    color: #777;
    padding: 8px;
    border-bottom: 1px solid #CCC;
}

.col{
    float: left;
    width: 50%;
}

/**EDITAR USUÁRIO**/
.box-content form{
    margin: 30px 0;
}

.box-content form label{
    font-size: 17px;
    font-weight: 300;
    color: black;
    display: block;
}

.box-content .form-group{
    margin: 15px 0;
}

.box-content form input[type=text],
.box-content form input[type=password]{
    margin-top: 8px;
    font-size: 16px;
    font-weight: normal;
    color: black;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 8px;
}

.box-content form input[type=file]{
    margin-top: 8px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}

.box-content form input[type=submit]{
    width: 100px;
    height: 40px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    background: #00bfa5;
    color: white;
    border: 0;
}

/**BOX DE ALERTA**/

.box-alert{
    width: 100%;
    padding: 8px 0;
    text-align: center;
}

.sucesso{  
    background: #00e676;
    color: white;
}

.erro{
    background: #F75353;
    color: white;
}

/**MENU RESPONSIVO**/
@media screen and (max-width: 1200px){
    .box-metrica-single{
        height: 120px;
    }
}

@media screen and (max-width: 1024px){
    .box-metrica-single{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 768px){
    .box-metrica-single{
        width: 100%;
    }
    .content{
        width: 100%;
        left: 0;
    }
    header{
        left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .box-single-metrica{
        width: 100%;
        padding-top: 40%;
    }
}

@media screen and (max-width: 400px){
    .menu-wraper{
        width: 200px;
    }
}